<div class="banner-container">
  <div class="banner" style="background-image: url('<%= image_path('main_banner.jpg') %>');">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
  </div>
</div>

<div class ="container mt-5">
  <div class="bookmark-info">
    <div class="bookmark-contents">
      <% @list.bookmarks.each do |bookmark| %>
        <h2><strong><%= bookmark.movie.title %></strong></h2>
        <ul>
          <li><%= bookmark.movie.poster_url %></li>
          <li><strong>description: </strong> <%= bookmark.movie.overview %></li>
          <li><strong>rating: </strong><%= bookmark.movie.rating %></li>
        </ul>
        <div>
          <p><strong>Comment:</strong></p>
          <p><%= bookmark.comment %></p>
        </div>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete"%>
      <% end %>
        <div class="button-container">
          <%= link_to "Back", lists_path(@list), class: "btn-back" %>
          <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn-basic" %>
        </div>
    </div>
  </div>
</div>
